html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222222;
    color: whitesmoke;
}

#img {
    max-width: 600px;
    max-height: 400px;
}

#canvas {
    max-width: 600px;
    max-height: 400px;
}