[submodule "random/kidtech-lite"]
	path = random/kidtech-lite
	url = https://github.com/McKiddo/kidTech-Lite
	branch = master
[submodule "random/kidtech-dev"]
	path = random/kidtech-dev
	url = https://github.com/McKiddo/kidTech-Lite
	branch = develop
