@font-face {
  font-family: 'IBMVGA8';
  src: url('PxPlus_IBM_VGA8.ttf')  format('truetype')
}

body, html {
	height:100%;
	margin: 0;
    overflow: hidden;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}

a::selection {
	background-color: white;
	color: black;
	text-shadow: none;
}

#screen-container {
	position: relative;
	width: 800px;
	height: 583px;
	background-position: center;
	background-image: url('ibm_monitor.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#led-image {
	position: relative;
    float: right;
    top: 46%;
    right: 11%;
}

#screen-text {
	position: absolute;
	top: 18%;
	left: 16.4%;
	width: 472px;
	height: 336px;
	transform-origin: top left;
    color: white;
    font-family: IBMVGA8, monospace;
    font-size: 16px;
	white-space: pre-wrap;
}

#screen-text::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
	  0deg,
	  rgba(0,0,0, 0.15),
	  rgba(0,0,0, 0.15) 1px,
	  transparent 1px,
	  transparent 2px
	);
	pointer-events: none;
}

#screen-container::selection, #screen-text::selection {
	background-color: white;
	color: black;
	text-shadow: none;
}

.glow {
	text-shadow: white 0 0 10px;
}
