@font-face {
    font-family: 'Pixelary';
    src: url('resources/fonts/Pixelary.otf')  format('truetype')
}

@font-face {
    font-family: 'LED';
    src: url('resources/fonts/The\ Led\ Display\ St.ttf')  format('truetype')
}

html {
    margin: 0;
    
    height: 100%;

    background: #111;
}

body {
    margin: 0;
    padding: 0;
    
    height: 100%;
    
    color: #fffaa3;
}

a:link, a:visited {
    color: #fffaa3;
    background-color: #161616;

    padding: 2px 4px 2px 4px;
    margin: -2px -4px -2px -4px;

    border-radius: 5px;
    font-weight: 600;

    text-decoration: underline;
}

a:hover {
    color: #161616;
    background-color: #fffaa3;

    text-decoration: none;
}

#container {
    display: flex;
    flex-flow: column;
    
    height: 100%;
}

.banner {
    display: flex;
    justify-content: center;

    text-wrap: nowrap;

    background-image: url('resources/bk_grid.png');
    background-size: 7px;

    background-position: center top 0px;

    font: 120.25px LED, monospace;

    transform: rotate(-1deg);

    cursor: default;

    user-select: none;
    -webkit-user-select: none;

    /* text-shadow: 0 0 5px; */
}

.secondary-banner-text {
    color: #fffaa330;

    /* text-shadow: 0 0 3px; */
}

#header-container {
    min-height: 195px;

    padding-bottom: 50px;
    margin-bottom: -50px;

    overflow: hidden;
}

#header {
    padding-top: 100px;
    margin-top: -100px;

    background-position: center top 1.8px;
}

#footer-container {
    min-height: 195px;

    padding-top: 50px;
    margin-top: -50px;

    overflow: hidden;
}

#footer {
    padding-bottom: 100px;
    margin-bottom: -100px;    
}

#content {
    position: relative;
    margin: auto;
    
    flex: 1 1 auto;

    width: 810px;

    padding: 20px;
    padding-bottom: 60px;

    font: 12px Verdana, Arial, sans-serif;
    
    line-height: 18px;
}

#test-image {
    width: 200px;
    float: left;
    margin-right: 10px;
    image-rendering: pixelated;
}

#watermark {
    position: absolute;
    right: 20px;
    bottom: 16px;

    color: #161616;

    font: 36px Pixelary, monospace;
    
    transform: rotate(-1deg);
}

#letter-b {
    animation: flicker 5s linear infinite;
}

#letter-r {
    animation: flicker-inverted 5s linear infinite;
    opacity: 0;
    margin-left: -91px;
}

.letter:hover {
    opacity: 0.1875;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 1;
	}

	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.1875;
	}
}

@keyframes flicker-inverted {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 0;
	}
    
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 1;
	}
}

@media screen and (max-width: 850px) {
    #content {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 650px) {
    .banner {
        font: 60.125px LED, monospace;
        background-size: 3.5px;
    }

    #header-container {
        min-height: 97px;
    }

    #footer-container {
        min-height: 97px;
    }

    #test-image {
        width: 150px
    }
}