@font-face {
    font-family: 'IBMVGA8';
    src: url('../../home_resources/fonts/PxPlus_IBM_VGA8.ttf')  format('truetype')
}

@keyframes turn-off {
	0% {
		transform: scale(1, 3);
		-webkit-filter: brightness(1);
		filter: brightness(1);
	} 60% {
		transform: scale(3, 0.001);
		-webkit-filter: brightness(10);
		filter: brightness(10);
	} 100% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: scale(0, 0.0001);
		-webkit-filter: brightness(50);
		filter: brightness(50);
	}
}

body, html {
    padding: 5px;
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: 'IBMVGA8';
    color: white;
	text-shadow: black 2px 2px 0px;
}

#console-output {
    white-space: pre;
}

#console-input {
    word-break: break-all;
    line-height: 16px;
    overflow-y: hidden;
    white-space: pre;
}