html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222222;
    color: whitesmoke;
}

#video-player {
    width: 600px;
    margin-bottom: 15px;
}