@font-face {
    font-family: 'Pixelary';
    src: url('resources/fonts/Pixelary.otf')  format('truetype')
}

@font-face {
    font-family: 'LED';
    src: url('resources/fonts/The\ Led\ Display\ St.ttf')  format('truetype')
}

html {
    height: 100%;
    margin: 0;

    overflow-x: hidden;

    background: #111;
    background-image: url('resources/bk_grid.png');
    background-size: 7px;
    background-position: center;
}

body {
    margin: 0px;
    padding: 0px;

    overflow-x: hidden;
    
    color: #fffaa3;
}

#header {
    position: absolute;
    left: 50%;
    top: 50%;
    /* -webkit-transform: translate(-50%, -50%) translate(3.1px, 2.6px) translateY(-280px);
    transform: translate(-50%, -50%) translate(3.1px, 2.6px) translateY(-280px); */
    /* -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translateY(-280px);
    transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translateY(-280px); */

    font: 120.25px LED, monospace;
}

#footer {
    position: absolute;
    left: 50%;
    top: 50%;
    /* -webkit-transform: translate(-50%, -50%) translate(3.1px, 2.6px) translateY(280px);
    transform: translate(-50%, -50%) translate(3.1px, 2.6px) translateY(280px); */
    /* -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translateY(280px);
    transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translateY(280px); */

    font: 120.25px LED, monospace;

    color: #fffaa3;
}

.secondary-header-text {
    color: #fffaa330;
}

@media screen and ((max-height: 750px) or (max-width: 420px)) {
    #header {
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px) translateY(-140px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px) translateY(-140px);
    }
    
    #footer {
        
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(140px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(140px);
    }
}

@media screen and (min-height: 750px) and (min-width: 420px) {
    #header {
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px)  translateY(-280px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px)  translateY(-280px);
    }
    #footer {
        
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(280px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(280px);
    }
}

@media screen and (min-height: 900px) and (min-width: 420px) {
    #header {
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px)  translateY(-322px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px)  translateY(-322px);
    }
    
    #footer {
        
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(322px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(322px);
    }
}

@media screen and (min-height: 1100px) and (min-width: 420px) {
    #header {
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px)  translateY(-378px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, -7px)  translateY(-378px);
    }
    
    #footer {
        
        -webkit-transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(378px);
        transform: translate(-50%, -50%) translate(-0.2px, 2.6px) translate(21px, 0px) translateY(378px);
    }
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translate(2.0px, -1.8px);
    transform: translate(-50%, -50%) translate(2.0px, -1.8px);

    /* width: 585px;
    height: 396px; */

    width: 100%;
    max-width: 590px;
    min-height: 400px;

    background: #111;
    /* background: #161616; */
}

@media screen and (max-width: 590px) {
    #container {
        -webkit-transform: translate(-50%, -50%) translate(0.0px, -1.8px);
        transform: translate(-50%, -50%) translate(0.0px, -1.8px);
    }
}

#content {
    /* margin: 2.5px;
    padding: 17.5px;
    border: 3px solid #fffaa3;
    height: calc(100% - 44.5px); */

    padding: 20px;
    padding-bottom: 60px;

    font: 12px Verdana, Arial, sans-serif;
    
    line-height: 18px;
}

#test-image {
    width: 200px;
    float: left;
    margin-right: 10px;
    image-rendering: pixelated;
}

#watermark {
    position: absolute;
    right: 20px;
    bottom: 16px;
    
    /* color: #111; */
    color: #161616;

    font: 36px Pixelary, monospace;
}