@font-face {
    font-family: 'Pixelary';
    src: url('resources/fonts/Pixelary.otf')  format('truetype')
}

@font-face {
    font-family: 'LED';
    src: url('resources/fonts/The\ Led\ Display\ St.ttf')  format('truetype')
}

html {
    margin: 0;
    
    height: 100%;

    background: #111;
}

body {
    margin: 0px;
    padding: 0px;
    
    height: 100%;
    
    color: #fffaa3;
}

#container {
    display: flex;
    flex-flow: column;
    
    height: 100%;
}

.banner {
    display: flex;
    justify-content: center;

    text-wrap: nowrap;

    background-image: url('resources/bk_grid.png');
    background-size: 7px;

    background-position: center top 0px;

    font: 120.25px LED, monospace;

    transform: rotate(-1deg);

    /* text-shadow: 0 0 5px; */
}

.secondary-banner-text {
    color: #fffaa330;

    /* text-shadow: 0 0 3px; */
}

#header-container {
    min-height: 195px;

    padding-bottom: 50px;
    margin-bottom: -50px;

    overflow: hidden;
}

#header {
    padding-top: 100px;
    margin-top: -100px;

    background-position: center top 1.8px;
}

#footer-container {
    min-height: 195px;

    padding-top: 50px;
    margin-top: -50px;

    overflow: hidden;
}

#footer {
    padding-bottom: 100px;
    margin-bottom: -100px;    
}

#content {
    position: relative;
    margin: auto;
    
    flex: 1 1 auto;

    width: 810px;

    padding: 20px;
    padding-bottom: 60px;

    font: 12px Verdana, Arial, sans-serif;
    
    line-height: 18px;
}

#test-image {
    width: 200px;
    float: left;
    margin-right: 10px;
    image-rendering: pixelated;
}

#watermark {
    position: absolute;
    right: 20px;
    bottom: 16px;

    color: #161616;

    font: 36px Pixelary, monospace;
    
    transform: rotate(-1deg);
}

@media screen and (max-width: 850px) {
    #content {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 650px) {
    .banner {
        font: 60.125px LED, monospace;
        background-size: 3.5px;
    }

    #header-container {
        min-height: 97px;
    }

    #footer-container {
        min-height: 97px;
    }

    #test-image {
        width: 150px
    }
}