@font-face {
	font-family: 'tf2';
	src: url('resources/TF2.ttf')  format('truetype')
}

@font-face {
	font-family: 'tf2build';
	src: url('resources/tf2build.ttf')  format('truetype')
}

@font-face {
	font-family: 'tf2secondary';
	src: url('resources/TF2secondary.ttf')  format('truetype')
}

html {
	background-image: url(resources/blackboard.webp);
	background-size: cover;
	height: 100%;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#main-container {
	display: flex;
    justify-content: center;
    align-items: center;

	height: 100%;
	width: 89%;
	
	outline:1px #fff solid;
	outline-offset: -1px;
}

#debug-span {
	font-family: 'tf2';
	font-size: 8vmax;

	color: whitesmoke;

	text-align: center;
}

#debug-output {
	position: absolute;
	top: 36px;
	left: 36px;
	
	color: whitesmoke;
	font-family: 'tf2secondary';
	font-size: 16px;
}

#video-engineer {
	position: absolute;
	width: 25vmax;
	right: 0;
	bottom: 0;
	margin: 4vmax;
	
	outline:3px #fff solid;
	outline-offset: 0;
}

#please-watch {
	position: absolute;
	right: 12vmax;
	bottom: 1vmax;

	color: whitesmoke;

	font-family: 'tf2secondary';
	font-size: 1.6vmax;
}