@font-face {
	font-family: 'tf2';
	src: url('resources/TF2.ttf')  format('truetype')
}

@font-face {
	font-family: 'tf2build';
	src: url('resources/tf2build.ttf')  format('truetype')
}

@font-face {
	font-family: 'tf2secondary';
	src: url('resources/TF2secondary.ttf')  format('truetype')
}

html {
	background-color: #6b6a75;
	background-image: url(resources/blackboard.webp);
	background-size: cover;
	height: 100%;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#main-container {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 89%;
	
	font-family: 'tf2secondary';
	font-size: 3vmax;

	color: #f5f5f5;
}

#title-span {
	font-family: 'tf2';
	margin-top: 7vmax;
	font-size: 5.1vmax;
}

#body-span {
	margin-left: 1vmax;
}

#rules-span {
	font-size: 2vmax;
	margin-top: 1vmax;
	margin-left: 3vmax;
}

#video-please-watch {
	position: absolute;
	width: 25vmax;
	right: 0;
	bottom: 0;
	margin: 4vmax;
	
	outline:0.2vmax #f5f5f5 solid;
	outline-offset: 0.4vmax;

	border-radius: 1vmax;
}

#please-watch {
	position: absolute;
	right: 3.8vmax;
	bottom: 0.7vmax;

	color: #f5f5f5;

	font-family: 'tf2secondary';
	font-size: 2vmax;
}