body, html {
    height: 100%;
	margin: 0;
}

body {
    overflow: hidden;
    background: #bbbbbb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centered {
    position: absolute;
	image-rendering: pixelated;
    width: 20%;
}

#controls {
	position: absolute;
	top: 10pt;
	left: 10pt;
}

.controls-submenu {
	position: relative;
	padding: 4pt;
}

#smiley-face, #smiley-body {
	transform-origin: 38%;
}