html,
body {
    height: 100%;
	background: #1c1c1c;
	
	display: flex;
	justify-content: center;
	align-items: center;
    
    font-family: 'Odibee Sans', cursive;
}

textarea {
    display: block;
    outline: none;
    overflow: hidden;
    resize: none;
    width: 300px;
    max-width: 300px;
    max-height: 500px;
    color: #dedfe1;
    border-width: 0;
    border-bottom: 4px solid #4e4e4e;
    border-radius: 2px;
    background-color: #6d6d6d;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    
    vertical-align: middle;
}

textarea:focus {
    background-color: #7a7a7a;
}

::placeholder {
	color: #999999;
}

button {
	outline: none;
    height: 35px;
    color: #dedfe1;
    border-width: 0;
	border-bottom: 4px solid #435a47;
    border-radius: 2px;
    background-color: #5f7e67;
	padding-left: 7px;
    padding-right: 7px;
    font-size: 18px;
    margin: 0;
}

button:hover {
    background-color: #4d7e48;
}

button:active {
    background-color: #60995a;
}

#title-container {
    text-align: center;
    text-shadow: 2px 2px 0px #4e4e4e;
}

#title {
	color: #fab696;
	font-size: 80px;
}

#subtitle {
    color: #f49d87;
    font-size: 30px;
}

#link-button {
    float: left;
}

#play-button {
    float: right;
}
